

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	

	
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
	
	
		/* Force table to not be like tables anymore */
		table.table , .table thead, .table tbody, .table th, .table td, .table tr { 
			display: block; 
		}
		
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.table thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.table tr { /*border: 1px solid #e5e5e5;*/ border:0;}
		
		
		.table td, .table th { 
			/* Behave  like a "row" */
			border: none;
			position: relative;
			padding-left: 50%!important; 
			border-top:0;
		}
		
		/*border-bottom: 1px solid #9e9e9e8c;*/
		table.table {border-bottom: 1px solid #9e9e9e8c;}
		.table th:first-of-type {border-top: 1px solid #9e9e9e8c;}
		
		.table th:before,
		.table td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 8px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			line-height: 2.3rem;
		}
		
		
		
		/*
		Label the data TRIBUTI OLD
		*/
		.table.table-tari-old th:nth-of-type(1):before { content: "Anno emissione"; }
		
		
		.table.table-tari-old td:nth-of-type(1):before { content: "Categoria"; }
		.table.table-tari-old td:nth-of-type(2):before { content: "Superficie"; }
		.table.table-tari-old td:nth-of-type(3):before { content: "Componenti"; }
		.table.table-tari-old td:nth-of-type(4):before { content: "Descrizione"; }
		.table.table-tari-old td:nth-of-type(5):before { content: "Importo lordo"; }

		
		/*
		Label the data TRIBUTI
		*/
		.table.table-tari-new th:nth-of-type(1):before { content: "Anno imposta"; }
		
		
		.table.table-tari-new td:nth-of-type(1):before { content: "Tributo"; }
		.table.table-tari-new td:nth-of-type(2):before { content: "Superficie"; }
		.table.table-tari-new td:nth-of-type(3):before { content: "Componenti"; }
		.table.table-tari-new td:nth-of-type(4):before { content: "Importo lordo"; }
		
		/*
		Label the data CATASTI FABBRICATI
		*/		
		
		.table.table-catasto-terreni td:nth-of-type(1):after,
		.table.table-catasto-terreni td:nth-of-type(4):after,
		.table.table-catasto-fabbricati td:nth-of-type(1):after,
		.table.table-catasto-fabbricati td:nth-of-type(4):after,
		.table.table-catasto-fabbricati td:nth-of-type(9):after {
		
			position: absolute;
			top: 4.5rem;
			left: 0;
			width: 100%; 
			padding-bottom: 0.2rem;
			padding-left: 1rem;
			white-space: nowrap;	
			border-bottom: 2px solid #b3b9bf;
			display: inline-grid;
			font-size: 2rem;
		
		}
		
		.table.table-catasto-terreni td:nth-of-type(2),
		.table.table-catasto-terreni td:nth-of-type(5),		
		.table.table-catasto-fabbricati td:nth-of-type(2),
		.table.table-catasto-fabbricati td:nth-of-type(5),
		.table.table-catasto-fabbricati td:nth-of-type(10) {
		
			padding-top: 4rem;
		
		}		
		
		.table.table-catasto-fabbricati td:before {font-weight:bold;padding-left:1rem;}
		.table.table-catasto-fabbricati td:nth-of-type(1):before { content: "N"; }
		
			.table.table-catasto-fabbricati td:nth-of-type(1):after {content: "Dati identificativi";}
			.table.table-catasto-fabbricati td:nth-of-type(2) {border-top: 2px solid #b3b9bf;}
			
		.table.table-catasto-fabbricati td:nth-of-type(2):before { content: "Foglio"; padding-top: 3.3rem; }
		.table.table-catasto-fabbricati td:nth-of-type(3):before { content: "Particelle"; }
		.table.table-catasto-fabbricati td:nth-of-type(4):before { content: "Sub"; }	
		
			.table.table-catasto-fabbricati td:nth-of-type(4):after {content: "Dati di classamento";}
			.table.table-catasto-fabbricati td:nth-of-type(5) {border-top: 2px solid #b3b9bf;}			
						
		.table.table-catasto-fabbricati td:nth-of-type(5):before { content: "Zona cens.";padding-top: 3.3rem; }
		.table.table-catasto-fabbricati td:nth-of-type(6):before { content: "Categoria"; }
		.table.table-catasto-fabbricati td:nth-of-type(7):before { content: "Classe"; }
		.table.table-catasto-fabbricati td:nth-of-type(8):before { content: "Consistenza"; }			
		.table.table-catasto-fabbricati td:nth-of-type(9):before { content: "Rendita"; }
		
			.table.table-catasto-fabbricati td:nth-of-type(9):after {content: "Altre informazioni";}	
			.table.table-catasto-fabbricati td:nth-of-type(10) {border-top: 2px solid #b3b9bf;}				
		
		.table.table-catasto-fabbricati td:nth-of-type(10):before { content: "Indirizzo";padding-top: 3.3rem; }
		/* .table.table-catasto-fabbricati td:nth-of-type(11):before { content: "Rivendita Rivalutata";}	 */
		.table.table-catasto-fabbricati td:nth-of-type(11):before { content: "Percentuale di possesso";}	
		
		
		/*
		Label the data CATASTI TERRENI
		*/		
		
		.table.table-catasto-terreni td:before {font-weight:bold;padding-left:1rem;}
		.table.table-catasto-terreni td:nth-of-type(1):before { content: "N"; }
		
			.table.table-catasto-terreni td:nth-of-type(1):after {content: "Dati identificativi";}	
			.table.table-catasto-terreni td:nth-of-type(2) {border-top: 2px solid #b3b9bf;}				
		
		.table.table-catasto-terreni td:nth-of-type(2):before { content: "Foglio"; padding-top: 3.3rem;}
		.table.table-catasto-terreni td:nth-of-type(3):before { content: "Particelle"; }
		.table.table-catasto-terreni td:nth-of-type(4):before { content: "Sub"; }
		
			.table.table-catasto-terreni td:nth-of-type(4):after {content: "Dati di classamento";}	
			.table.table-catasto-terreni td:nth-of-type(5) {border-top: 2px solid #b3b9bf;}					
				
		/*.table.table-catasto-terreni td:nth-of-type(5):before { content: "porz.";}*/
		.table.table-catasto-terreni td:nth-of-type(5):before { content: "Qualita' classe"; padding-top: 3.3rem;  }
		.table.table-catasto-terreni td:nth-of-type(6):before { content: "Superficie"; }
		.table.table-catasto-terreni td:nth-of-type(7):before { content: "Reddito"; }	
		.table.table-catasto-terreni td:nth-of-type(8):before { content: "Percentuale di possesso";}			
		
		/*
		Label the data CATASTI TOTALI
		*/		
		
		.table.table-catasto-tot td:before {font-weight:bold;padding-left:1rem;}
		.table.table-catasto-tot td:nth-of-type(1):before { content: "Vani"; }
		.table.table-catasto-tot td:nth-of-type(2):before { content: "m2"; }
		.table.table-catasto-tot td:nth-of-type(3):before { content: "Rendita"; }
		.table.table-catasto-tot td:nth-of-type(4):before { content: "Superficie"; }		
		.table.table-catasto-tot td:nth-of-type(5):before { content: "Redditi"; }
		.table.table-catasto-tot td:nth-of-type(6) {height:100px;}
		.table.table-catasto-tot td:nth-of-type(6):before { content: "Unita' immobiliare"; white-space:normal}
		
		
		/*
		Label the data EMERGENZA ABITATIVA
		*/
		.table.table-emergenza-abitativa td:before {font-weight:bold;}
		.table.table-emergenza-abitativa td:nth-of-type(1):before { content: "Data"; }	
		.table.table-emergenza-abitativa td:nth-of-type(2):before { content: "Esito"; }
		.table.table-emergenza-abitativa td:nth-of-type(3):before { content: "Descrizione"; }

	}
	
	
	
	@media 
	only screen and (max-width: 500px),
	(min-device-width: 0px) and (max-device-width: 500px)  {

		
		.table.table-catasto-fabbricati td:nth-of-type(11),
		.table.table-catasto-fabbricati td:nth-of-type(12),
		.table.table-catasto-terreni td:nth-of-type(8) { 
		
			min-height: 7rem;	
		
		}		
	
		.table.table-catasto-fabbricati td:nth-of-type(11):before,
		.table.table-catasto-fabbricati td:nth-of-type(12):before,
		.table.table-catasto-terreni td:nth-of-type(8):before { 
		
			white-space:normal; 
			
		
		}	
		
		
	}