<div *ngIf="elencoNidi" class="card">
  <div class="card-header" id="headingcollapse-elencoNidi">
    <h3>
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-elencoNidi" aria-expanded="false" aria-controls="collapse-elencoNidi">
        Lista scuole scelte
      </button>
    </h3>
  </div>
  <div id="collapse-elencoNidi" class="collapse hide" aria-labelledby="headingcollapse-elencoNidi">
    <div class="card-body">
      <div class="row form-bacheca">
        <div class="col-12 col-md-12">
          <div *ngFor="let nido of elencoNidi; let last = last">
            <strong>Scuola scelta {{nido.posizione}}: </strong>
            <ul>
              <li>
                <strong>Stato della scuola: </strong>{{getDescStatoPreferenza(nido)}}
              </li>
              <li>
                <strong>Denominazione scuola: </strong>{{nido.descrizione}}
              </li>
              <li>
                <strong>Indirizzo: </strong>{{nido.indirizzo}}
              </li>
              <li>
                <strong>Tipologia di frequenza: </strong>{{getTipologiaFrequenzaScuola(nido)}}
              </li>
              <li>
                <strong>Punteggio: </strong>{{nido.punteggio}}
              </li>
              <li>
                <strong>Fuori termine: </strong>{{getFuoriTermineText(nido.fuoriTermine)}}
              </li>
            </ul>
            <div class="preferenze-spacer" *ngIf="!last"></div>
          </div>
        </div>
      </div>
      <div *ngIf="showModificaPreferenze" class="row form-bacheca">
        <div class="modifica-preferenze">
          <div class="card">
            <div class="card-header" id="headingcollapse01-modifica-preferenze">
              <h3>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse01-modifica-preferenze" aria-expanded="false" aria-controls="collapse01-modifica-preferenze">
                  Aggiungi preferenze
                </button>
              </h3>
            </div>
            <div id="collapse01-modifica-preferenze" class="collapse in" aria-labelledby="headingcollapse01-modifica-preferenze">
              <div class="card-body">
                <div class="col-12 col-md-12">
                  <div>
                    <div *ngIf="error" class="alert alert-danger">
                      {{errorMessage}}
                    </div>
                    <form [formGroup]="modificaPreferenzeForm">
                      <div class="form-step">
                        <div class="form-row">
                          <div class="form-group col-sm-4 col-md-4 col-lg-4">
                            <label for="tipo-frequenza" class="col-form-label">Tempo frequenza *</label>
                            <select id="tipo-frequenza" formControlName="tipo-frequenza" class="custom-select form-control" (ngModelChange)="onSelectTipoFrequenza()">
                              <option [ngValue]="null">... Scegli una tipologia di frequenza ...</option>
                              <option *ngFor="let tipoFrequenza of tipoFrequenzaList" [ngValue]="tipoFrequenza.codice">
                                {{tipoFrequenza.descrizione}}
                              </option>
                            </select>
                          </div>
                          <div class="form-group col-sm-8 col-md-8 col-lg-8">
                            <label for="nido" class="col-form-label">Scuola *</label>
                            <select id="nido" formControlName="nido" class="custom-select form-control">
                              <option [ngValue]="null" selected="selected">... Scegli una scuola ...</option>
                              <option *ngFor="let nido of nidoList" [ngValue]="nido.codice">
                                {{nido.descrizione | uppercase}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                    <br>
                    <div class="btn-group row">
                      <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <button type="submit" class="btn btn-primary" (click)="aggiungiPreferenza()" [disabled]="!aggiungiPreferenzaAbilitato">Aggiungi preferenza</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>