<div class="container">
    <div class="row">
      <div *ngIf="statusSearch" class="col">
        <div class="loader"></div>
      </div>
      <div *ngIf="!statusSearch" class="col-lg-12 col-md-12 col-sm-12">
        <h2>Anagrafica fasce d'età</h2>
        <!-- ---------------------------------------------------------------------- -->
        <!-- Tep Anagrafica                                                         -->
        <!-- ---------------------------------------------------------------------- -->
        <div *ngIf="viewEta">
          <form [formGroup]="fgEtaAnagrafica">
            <div class="form-eta">
              <div class="form-row">
                <div class="form-group col-lg-6 col-sm-6 col-md-6">
                  <label for="ordineScuola" class="col-form-label">Ordine Scolastico</label>
                  {{ordineScuola}} - {{ordineScuolaDescrizione}}
                  <br>
                  <label for="annoScolastico" class="col-form-label">Anno Scolastico</label>
                  {{annoScolastico}}
                  <br>
                  <label for="codGraduatoria" class="col-form-label">Cod. Graduatoria</label>
                  {{codGraduatoria}}
                  <br>
                </div>
              </div>
  
              <div *ngIf="!showTestata" class="form-row">
                <table *ngIf="et.length" class="table table-bordered table-hover" >
                  <thead>
                    <tr class="text-center">
                      <td rowspan = "2">Cod. Fascia Età</td>
                      <td colspan = "2">Data</td>
                    </tr>
                    <tr class="text-center">
                      <td>Da</td>
                      <td>A</td>
                    </tr>
                  </thead>
                  <tbody>
                      <!--TODO utilizzare array step riempito per polare la tabella-->
                      <tr *ngFor="let e of et; let i =index" (click)="select(e,i)" [class.active]="i == selectedRow" class="selecting-row" >
                          <td>{{e.codFasciaEta}} - {{getEtaDesc(e.codFasciaEta)}}</td>
                          <td>{{e.dataDa}}</td>
                          <td>{{e.dataA}}</td>
                      </tr>
                  </tbody>
                </table>
                <div *ngIf="!et.length" style="color: crimson;">Non esistono fasce d'età</div>
              </div>
  
            </div>
            <div class="btn-group row">
              <div class="form-group col-lg-6 col-sm-6 col-md-6">
                <button type="button" class="btn btn-secondary" (click)="returnSearch()">Indietro</button>
  
                <button *ngIf="et.length" type="button" class="btn btn-primary" (click)="modificaEta()">Modifica</button>
  
                <button type="button" class="btn btn-primary" (click)="inserisciEta()">Inserisci</button>
  
                <button *ngIf="et.length" type="button" class="btn btn-primary" (click)="eliminaEta()">Elimina</button>
              </div>
            </div>
            <br>
            <div *ngIf="loadingError" class="alert alert-danger">
              Attenzione: si è verificato un errore durante il caricamento dei dati iniziali.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>