<div class="user-info-all-detail">

        <div class="container">
    
            <div class="row">
    
                <div *ngIf="elencoAttivita" class="col">
                    <h2>Graduatorie</h2>
                    <div class="list-link" *ngFor="let attivita of elencoAttivita">
                        <h3>{{attivita.descrizione}}</h3>
                        <a routerLink="{{attivita.link}}">
                           <span class="sr-only"> {{attivita.descrizione}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>